{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title%} {% endblock %}|Administrador</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet"/>
    <link rel="icon" href="/static/imagenes/pagina/Logo.png">

    
</head>
<body>

    <p  style="background-color: #2e5046; color: #2e5046; margin-left: -100px; margin-top: -10px; margin-right: -80px; ">a</p>


    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
      <a class="navbar-brand" href="index"> 
        <img src="/static/imagenes/pagina/Logo.png" width="70px" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ml-auto text-center">
          <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Paginas
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="index">Home</a>
                <a class="dropdown-item" href="flores">Flores</a>
                <a class="dropdown-item" href="maceteros">Maceteros</a>
                <a class="dropdown-item" href="tierra">Tierra</a>
              </div>
            </li>

              <li class="nav-item active">
                <a class="nav-link" href="productos">Agregar Producto <span class="sr-only">(current)</span></a>
            </li>

              <li class="nav-item active">
                <a class="nav-link" href="personas">Agregar Usuarios<span class="sr-only">(current)</span></a>
            </li>


            <li class="nav-item active">
              
              <a class="nav-link" href="{% url 'salir' %}">Salir</a>
            </li>
            
        </ul>

          
          
          
        </div>
      
    </nav>


    {% block content %} {% endblock %}



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    {% block javascript%} {% endblock %}

    <script>
        $(document).ready(function() {
            //$("#cuadro1").hide(1500);
            // $("#cuadro2").hide(1500);
            $("#idMensajes").delay(1500).fadeOut("slow");
            // $("#idErrores").delay(1500).fadeOut("slow"); 
        });
    </script>

    


</body>


</html>



