{% extends "paginas/base.html" %} {% block title %} Maceteros {% endblock %} {% block content%}

<h2 style="text-align: center;  margin-bottom: 50px;  margin-top: 40px; ">Maceteros</h2>
    <div class="container-fluid-productos">
        <div class="row">
          
            <div class="card" style="width: 15rem;">
              <a  href="">
                <img  src="/static/imagenes/pagina/macetero.jpg" class="card-img-top" alt="..." >
              </a>
        
              <div class="card-body">
                <h4>Decogreen</h4>
                <p class="card-text">Macetero Biodegradable Actual Blanco</p>
                <p class="card-text">$4.790</p>
                <p class="card-text">
                  <a class="link-carro" href="">
                    <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                  </a>
                </p>
              </div>
            </div>
          
  
          
            <div class="card" style="width: 15rem;">
              <img src="/static/imagenes/pagina/macetero-1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h4>Decogreen</h4>
                <p class="card-text">
                    Macetero Biodegradable Actual Verde</p>
                <p class="card-text">$4.790</p>
                <p class="card-text">
                  <a class="link-carro" href="">
                    <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                  </a>
                </p>
              </div>
            </div>
          
  
          
            <div class="card" style="width: 15rem;">
              <img src="/static/imagenes/pagina/macetero-2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h4>Decogreen</h4>
                <p class="card-text">
                    Macetero Biodegradable Actual Terracota </p>
                <p class="card-text">$4.790</p>
                <p class="card-text">
                  <a class="link-carro" href="">
                    <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                  </a>
                </p>
                
              </div>
            </div>

            <div class="card" style="width: 15rem;">
                <img src="/static/imagenes/pagina/macetero-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4>Decogreen</h4>
                  <p class="card-text">Macetero Biodegradable Clasica Negro</p>
                  <p class="card-text">$4.790</p>
                  <p class="card-text">
                    <a class="link-carro" href="">
                      <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                    </a>
                  </p>
                  
                </div>
              </div>

              <div class="card" style="width: 15rem;">
                <img src="/static/imagenes/pagina/macetero-5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4>Vilmorin</h4>
                  <p class="card-text">Pack de 6 Macetas Biodegradables</p>
                  <p class="card-text">$4.790</p>
                  <p class="card-text">
                    <a class="link-carro" href="">
                      <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                    </a>
                  </p>
                  
                </div>
              </div>

              <div class="card" style="width: 15rem;">
                <img src="/static/imagenes/pagina/macetero-6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4>Vilmorin</h4>
                  <p class="card-text">Plato Biodegradable de Macetas Verde </p>
                  <p class="card-text">$2.390</p>
                  <p class="card-text">
                    <a class="link-carro" href="">
                      <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                    </a>
                  </p>
                  
                </div>
              </div>

              <div class="card" style="width: 15rem;">
                <img src="/static/imagenes/pagina/macetero-7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4>Decogreen</h4>
                  <p class="card-text">Plato Biodegradable de Macetas Terracota </p>
                  <p class="card-text">$2.390</p>
                  <p class="card-text">
                    <a class="link-carro" href="">
                      <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                    </a>
                  </p>
                  
                </div>
              </div>


              <div class="card" style="width: 15rem;">
                <img src="/static/imagenes/pagina/macetero-8.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4>Decogreen</h4>
                  <p class="card-text">Macetero Biodegradable Clasica Blanco</p>
                  <p class="card-text">$4.790</p>
                  <p class="card-text">
                    <a class="link-carro" href="">
                      <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                    </a>
                  </p>
                  
                </div>
              </div>


              <div class="card" style="width: 15rem;">
                <img src="/static/imagenes/pagina/macetero-9.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4>Decogreen</h4>
                  <p class="card-text">Macetero Biodegradable Alto Mediano de arena </p>
                  <p class="card-text">$3.890</p>
                  <p class="card-text">
                    <a class="link-carro" href="">
                      <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                    </a>
                  </p>
                  
                </div>
              </div>


              <div class="card" style="width: 15rem;">
                <img src="/static/imagenes/pagina/macetero-10.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4>Decogreen</h4>
                  <p class="card-text">Macetero Biodegradable Alto Gris Grafito </p>
                  <p class="card-text">$6.390</p>
                  <p class="card-text">
                    <a class="link-carro" href="">
                      <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                    </a>
                  </p>
                

                
                </div>
              </div>
  
        </div>
    </div>


{% block javascript%} {% endblock %} {% endblock %}