{% extends "paginas/base.html" %} {% block title %} Seguimiento {% endblock %} {% block content%}


<h4>Busca tu producto</h4>
    <div class="input-contenedor" style="text-align: center;">
        <i class="fa fa-truck icon"></i>
        <input type="text" placeholder="Ingresa Número de Orden">
    </div>
    <br>
    <div>
        <input style="margin-left: 44%;"  type="button" value="Buscar" class="boton">
    </div>

<br>
    <div class="map-responsive" style="margin-left: 10%; margin-top: 40px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.2624586935385!2d-70.70795834923867!3d-33
        .59849401241694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d93f3116b0b7%3A0x31b6dac546b7ae6d!2sDuoc%
        20Uc%20San%20Bernardo!5e0!3m2!1ses-419!2scl!4v1649289994847!5m2!1ses-419!2scl" width="800"
         height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>




{% block javascript%} {% endblock %} {% endblock %}