{% extends "paginas/base.html" %} {% block title %} Tierra {% endblock %} {% block content%}

<h2 style="text-align: center; margin-left: 30px; margin-bottom: 50px;  margin-top: 40px; ">Tierra de Hojas</h2>
    <div class="container-fluid-flores">
        <div class="row">
          
            <div class="card" style="width: 15rem;">
              <a  href="">
                <img  src="/static/imagenes/pagina/tierra.jpg" class="card-img-top" alt="..." >
              </a>
        
              <div class="card-body">
                <h4>Anasac</h4>
                <p class="card-text">Tierra de hoja para jardín 80 litros saco</p>
                <p class="card-text">$7.890</p>
                <p class="card-text">
                  <a class="link-carro" href="">
                    <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                  </a>
                </p>
              </div>
            </div>
          
  
          
            <div class="card" style="width: 15rem;">
              <img src="/static/imagenes/pagina/tierra-1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h4>Anasac</h4>
                <p class="card-text">
                  Tierra para Maceteros 25 litros saco</p>
                <p class="card-text">$6.890</p>
                <p class="card-text">
                  <a class="link-carro" href="">
                    <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                  </a>
                </p>
              </div>
            </div>
          
  
          
            <div class="card" style="width: 15rem;">
              <img src="/static/imagenes/pagina/tierra-2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h4>Anasac</h4>
                <p class="card-text">
                  Tierra de Hoja para Jardín 15 litros saco</p>
                <p class="card-text">$4.890</p>
                <p class="card-text">
                  <a class="link-carro" href="">
                    <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                  </a>
                </p>
                
              </div>
            </div>

            <div class="card" style="width: 15rem;">
                <img src="/static/imagenes/pagina/tierra-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4>Gaspar</h4>
                  <p class="card-text">Tierra de hoja 40 litros reforzada</p>
                  <p class="card-text">$6.290</p>
                  <p class="card-text">
                    <a class="link-carro" href="">
                      <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                    </a>
                  </p>
                  
                </div>
              </div>

              <div class="card" style="width: 15rem;">
                <img src="/static/imagenes/pagina/tierra-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4>Anasac</h4>
                  <p class="card-text">Tierra de Hoja para Jardín 40 litros saco</p>
                  <p class="card-text">$6.790</p>
                  <p class="card-text">
                    <a class="link-carro" href="">
                      <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                    </a>
                  </p>
                  
                </div>
              </div>

              <div class="card" style="width: 15rem;">
                <img src="/static/imagenes/pagina/tierra-5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4>Gaspar</h4>
                  <p class="card-text">Tierra de hoja para jardín 8 litros saco </p>
                  <p class="card-text">$7.390</p>
                  <p class="card-text">
                    <a class="link-carro" href="">
                      <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                    </a>
                  </p>
                  
                </div>
              </div>

              <div class="card" style="width: 15rem;">
                <img src="/static/imagenes/pagina/tierra-6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4>Armony</h4>
                  <p class="card-text">Tierra para macetero 6 litros bolsa </p>
                  <p class="card-text">$1.790</p>
                  <p class="card-text">
                    <a class="link-carro" href="">
                      <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                    </a>
                  </p>
                  
                </div>
              </div>


              <div class="card" style="width: 15rem;">
                <img src="/static/imagenes/pagina/tierra-7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4>Armony</h4>
                  <p class="card-text">Mulch rústico decorativo 15 litros café</p>
                  <p class="card-text">$3.890</p>
                  <p class="card-text">
                    <a class="link-carro" href="">
                      <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                    </a>
                  </p>
                  
                </div>
              </div>


              <div class="card" style="width: 15rem;">
                <img src="/static/imagenes/pagina/tierra-8.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4>Anasac</h4>
                  <p class="card-text">Tierra Biológica Compost 6 litros </p>
                  <p class="card-text">$2.290</p>
                  <p class="card-text">
                    <a class="link-carro" href="">
                      <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                    </a>
                  </p>
                  
                </div>
              </div>


              <div class="card" style="width: 15rem;">
                <img src="/static/imagenes/pagina/tierra-9.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4>Anasac</h4>
                  <p class="card-text">Tierra Acida para Jardín 25 litros saco </p>
                  <p class="card-text">$7.190</p>
                  <p class="card-text">
                    <a class="link-carro" href="">
                      <img  id="img-carro"src="/static/imagenes/pagina/carro5.png" alt="">
                    </a>
                  </p>
                  
                </div>
              </div>
  
        </div>
    </div>


{% block javascript%} {% endblock %} {% endblock %}